<div class="well">
	<%= simple_form_for(@label, html: {:class => 'form-horizontal'} ) do |f| %>

		<%= f.input :name, label:false, input_html: {:class => "form-control droid_sans_font form_input", placeholder: "Label Name"} %>

		<%= f.submit "Submit".html_safe, :class => 'btn btn-lg btn-success' %>
	<% end %>
</div>