@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

.droid_sans_font {
	font-family: 'Droid Sans', sans-serif;
}

.form_input {
	margin-top:5px;
	margin-bottom:5px;
}

.white_font {
	color: #ffffff;
}