<h1>Songs</h1>

<table>
	<tbody>
		<tr>
			<th>Track</th>
			<th>Time</th>
			<th>Genre</th>
		</tr>
		<% @songs.each do |song| %>
		<tr>
			<td> <%= link_to song.track, artist_song_path(song.artist_id, song) %></td>
			<td> <%= song.time %> </td>
			<td> <%= song.genre %> </td>
		</tr>
		<% end %>
	</tbody>
</table>